<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Zepto.io</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="aboutUs">About Us</a>
        </li>
        <li>
          <a routerLink="contactUs">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<br>

<div class="container">

  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <app-about-us></app-about-us>
      </div>
    </div>
  </div>
</div>

